<main class="section-game">
  <table>
    <tbody>
      <tr *ngFor="let p of participants; let i = index;">
        <td class="column-order"><span class="order">{{ p.order }}</span></td>
        <td class="column-name" [attr.data-id]="p.id">{{ p.name }}</td>
        <td class="column-gift" *ngIf="p.gift !== ''">
          <span class="gift" (click)="showInput(p)">{{ p.gift }}</span>
          <button class="btn-small" *ngIf="(!p.giftStatus && i !== 0) || (firstCanSteal && i === 0)" (click)="generateStealingPool(p)">Steal!</button>
          <button class="btn-small" *ngIf="(!p.giftStatus && i !== 0) || (firstCanSteal && i === 0)" (click)="keepGift(p)">Keep It</button>
        </td>
        <td *ngIf="p.gift === ''">
          <input class="gift-input" type="text" [(ngModel)]="p.giftInput" (keyup.enter)="saveGift(i)" placeholder="gift">
          <span class="checkmark" *ngIf="p.giftInput.length > 0" (click)="saveGift(i)"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="stealing-pool" [class.visible]="steallingMode">
    <ul>
      <li *ngFor="let target of stealingPool" [attr.data-id]="target.id">
        <span class="name">{{ target.name }}</span> {{ target.gift }}
        <button class="btn-small" (click)="stealGift(target)">Steal this</button>
      </li>
    </ul>
  </div>
</main>
