.section-setup {
  .setup-fixture {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin: 10px 0;
      position: relative;

      .order {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #fff;
        color: #000;
        border-radius: 50%;
        font-size: 12px;
        vertical-align: top;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
      }

      .remove-participant {
        display: inline-block;

        &::before{
          content: "\274c";
          font-size: 10px;
          color: #fff;
          text-align: center;
          margin-left: 20px;
        }
      }
    }
  }

  .setup-box {
    input {
      background: none;
      border: none;
      border-bottom: #beedf9 1px solid;
      width: 100%;
      display: block;
      outline: none;
      font-size: 14px;
      padding: 10px 0;
      margin: 20px 0;
      color: #FFFFFF;
      text-align: center;
    }
  }

  .setup-control {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    box-sizing: border-box;

    &::after {
      clear: both;
    }
    .btn-reset {
      float: right;
    }

    @media (min-width: 768px) {
      width: 640px;
      left: calc(50% - 320px);
    }

    @media (min-width: 992px) {
      width: 768px;
      left: calc(50% - 384px);
    }
  }
}
