<main class="section-setup">
  <ul class="setup-fixture">
    <li *ngFor="let p of participants">
      <span class="order" *ngIf="p.order">{{ p.order }}</span>
      <span class="name">{{ p.name }}</span>
    </li>
  </ul>

  <div class="setup-box">
    <input type="text" name="name" [(ngModel)]="participant.name"  placeholder="Add Participant" (keyup.enter)="addParticipant()"/>
    <!--<button (click)="addParticipant()">Add Participant</button>-->
  </div>

  <div class="setup-control">
    <button (click)="assignOrder()" *ngIf="!orderAssigned">Draw Orders</button>
    <button [routerLink]="['/game']" *ngIf="orderAssigned">Game Start</button>
    <button class="btn-reset" (click)="reset()">Reset</button>
  </div>
</main>
