<main class="section-intro">
  <h2>Instructions:</h2>
  <ol>
    <li>Fill in the name of participants in the setup page.</li>
    <li>Once <i>ALL</i> participants are entered. Draw the order of each participant that picks and unwraps a gift.</li>
    <li>Game starts. Ask the player to unwrap a gift.</li>
    <li>Ask participant if he will keep the gift or steal from others.</li>
    <li>If participant chooses to steal, the app will <i>RANDOMLY</i> pick n number of unrevealed gifts. He MUST select one of them.</li>
    <li>The first player will have a chance to choose to steal or keep the gift at last.</li>
  </ol>
  <button [routerLink]="['/setup']">Setup The Game</button>
</main>
